@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     font-family: "Cormorant Garamond", serif;
     box-sizing: border-box;
     /* color: #858792; */
     /* 858792 text color */
}
.dark-bg {
     background-color: #252734;
}
.light-bg {
     background-color: #2a2c39;
}
.primary-btn {
     background-color: #252734;
     transition: background-color 2s ease, border-color 2s ease-out;
     border-radius: 3rem;
     border: 2px solid #2a2c39;
     color: aliceblue;
}
